.contacts
  a.contact(href="tel:+343319891821821")
    i.fa.fa-mobile.contact__icon(aria-hidden="true")
    span.contact__text 6666 6667
  a.contact(href="mailto:info@business.com")
    i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
    span.contact_text info@bussines.com
  a.facebook-icon(href="facebook.com")
    i.fa.fa-facebook(aria-hidden="true")